<div class="challengeDescriptions index">
	<h2><?php echo __('Challenge Descriptions'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('challenge_id'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($challengeDescriptions as $challengeDescription): ?>
	<tr>
		<td><?php echo h($challengeDescription['ChallengeDescription']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($challengeDescription['Challenge']['name'], array('controller' => 'challenges', 'action' => 'view', $challengeDescription['Challenge']['id'])); ?>
		</td>
		<td><?php echo h($challengeDescription['ChallengeDescription']['description']); ?>&nbsp;</td>
		<td><?php echo h($challengeDescription['ChallengeDescription']['created']); ?>&nbsp;</td>
		<td><?php echo h($challengeDescription['ChallengeDescription']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $challengeDescription['ChallengeDescription']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $challengeDescription['ChallengeDescription']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $challengeDescription['ChallengeDescription']['id']), null, __('Are you sure you want to delete # %s?', $challengeDescription['ChallengeDescription']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Challenge Description'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Challenges'), array('controller' => 'challenges', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Challenge'), array('controller' => 'challenges', 'action' => 'add')); ?> </li>
	</ul>
</div>
