
@font-face {
    font-family: 'borisblackbloxxregular';
    src: url('../fonts/borisblackbloxx-webfont.eot');
    src: url('../fonts/borisblackbloxx-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/borisblackbloxx-webfont.woff') format('woff'),
         url('../fonts/borisblackbloxx-webfont.ttf') format('truetype'),
         url('../fonts/borisblackbloxx-webfont.svg#borisblackbloxxregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#hopeheader {
    background-image: url('../img/VocabHeader.png'); 
    height: 15em;
}

.headerclass {

    
    font: bold 57px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    left:70px;
    width:900px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.headerlink {

  color: white;


}
.headerlink:hover {
  text-decoration:none;
  color: white;
 }

 .vocabFont{
    font: bold 57px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px #000;  
     
     
 }
 
 .vocabFont2{
    font: bold 40px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #384c67;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
 
 .vocabFont3{
    font: bold 40px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #384c67;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
 
 .vocabFont4{
    font: bold 30px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #384c67;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
 
 .vocabFont5{
    font: bold 30px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #777777;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
 
 .vocabFont6{
    font: bold 20px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #384c67;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
 
 .vocabFont7{
    font: bold 14px/0.9 "borisblackbloxxregular", sans-serif;
    /*bottom:8px;*/
    color: #777777;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);  
     
     
 }
  