/*

*/
/* 
    Created on : Jan 22, 2014, 1:16:26 PM
    Author     : bhancock
*/


/*.container {
    max-width: 730px;
} */

.homepage {
    
    padding: 30px;
    
    width: 100%;
    position: static;
    height: 800px;
}
.smaller {
    width: 20%;
    
}
#footer {
    
    position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
  font-size: 12px;
min-height: 100px;
line-height: 1.3em;
padding: 25px;
border-top: 10px solid #369;
color: #777;
background-color: #336699;
background-image: url('../img/VocabHeader.png'); 
    height: 15em;
bottom: 0;  
width: 100%;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #384c67;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 15%;
  padding: 10%;
  background-color:#777777;
  border:2px solid;
  border-radius:25px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  
}

.sidebar-nav li a {
  color: #FFF;
  display: block;
  text-decoration: none;
  font-size:18px
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

#top { height: 68px; display: block; }
.fixed { position: fixed; height: 68px; width: 100%; z-index: 1039; background: #FFF; padding: 0 20px; border-bottom: 8px solid #369; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
#top:after { content: ""; display: block; clear: both; }
.logo { display: block; padding: 11px 0; float: left; }
.logo-header { display: block; padding: 5px 0; float: left; }

.col-lg-6r {
    width: 50%;
	border:2px solid;
    border-radius:25px;
  }
.col-lg-4r {
    width: 33.33333333333333%;
	border:2px solid;
    border-radius:25px;
	padding:10px;
  }
  .col-lg-3r {
    width: 25%;
	border:2px solid;
    border-radius:25px;
	padding:10px;
  }
  .col-lg-12r {
    width: 100%;
	border:2px solid;
    border-radius:25px;
	padding:10px;
  }