<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Welcome Student</a>
                </li>
                <li><a href="#">Progress Detail</a>
                </li>
                <li><a href="#">Edit Profile</a>
                </li>
                <li><a href="#">Account Settings</a>
                </li>
                <li><a href="#">Feedback</a>
                </li>
                <li><a href="#">Logout</a>
                </li>
            </ul>
        </div>
  <div class="container marketing">
    
    <h2 class="vocabFont4">Hacking for Hope: <span class="vocabFont5">Little Hacker Homesite</span></h2><br><br>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
          <h2 class="vocabFont6">Level Tracker:</h2><font class="vocabFont7">How far you have to go before your next reward.</font>
          <img class="featurette-image" src="img/progress.png" alt="Progress Bar">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6">
        	<h2 class="vocabFont6">Next Reward:</h2><img class="featurette-image" src="img/reward.png" alt="6 months free internet">
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="col-lg-12r">
      Test
      </div>