<div class="challengeAnswers index">
	<h2><?php echo __('Challenge Answers'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('challenge_id'); ?></th>
			<th><?php echo $this->Paginator->sort('challenge_question_id'); ?></th>
			<th><?php echo $this->Paginator->sort('response'); ?></th>
			<th><?php echo $this->Paginator->sort('correct'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($challengeAnswers as $challengeAnswer): ?>
	<tr>
		<td><?php echo h($challengeAnswer['ChallengeAnswer']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($challengeAnswer['Challenge']['name'], array('controller' => 'challenges', 'action' => 'view', $challengeAnswer['Challenge']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($challengeAnswer['ChallengeQuestion']['question'], array('controller' => 'challenge_questions', 'action' => 'view', $challengeAnswer['ChallengeQuestion']['id'])); ?>
		</td>
		<td><?php echo h($challengeAnswer['ChallengeAnswer']['response']); ?>&nbsp;</td>
		<td><?php echo h($challengeAnswer['ChallengeAnswer']['correct']); ?>&nbsp;</td>
		<td><?php echo h($challengeAnswer['ChallengeAnswer']['created']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $challengeAnswer['ChallengeAnswer']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $challengeAnswer['ChallengeAnswer']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $challengeAnswer['ChallengeAnswer']['id']), null, __('Are you sure you want to delete # %s?', $challengeAnswer['ChallengeAnswer']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Challenge Answer'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Challenges'), array('controller' => 'challenges', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Challenge'), array('controller' => 'challenges', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Challenge Questions'), array('controller' => 'challenge_questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Challenge Question'), array('controller' => 'challenge_questions', 'action' => 'add')); ?> </li>
	</ul>
</div>
